body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(2, 2, 2) 3%, rgb(255, 255, 255) 38%, rgb(18, 75, 162) 68%, rgb(18, 75, 162) 98%);
  animation: gradient 40000000s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  padding: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.logo {
  margin-left: -3%;
  width: 150px;
  height: 150px;
  margin-top: -100px;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 12em;
  background: rgba(66, 61, 61, 0.25);
  border-radius: 1000% 1000% 0 0;
  transform: translate3d(0, 0, 0);
  animation: wave 10s -3s linear infinite;
  z-index: -2;
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.6;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.4;
}

@keyframes wave {
  2% {
    transform: translateX(1%);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1%);
  }
}

.chat-box {
  position: fixed;
  bottom: 0;
  left: 57%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  height: 95%;
  background: rgb(255, 255, 255);
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .chat-box {
    width: 80%;
    height: 80%;
    margin-left: -60px;
  }
}

@media (max-width: 480px) {
  .chat-box {
    height: 50%;
  }
}

.chat-box-body {
  background-color: #f5f5f5;
  overflow-y: auto;
  padding: 15px;
  flex: 1;
  scroll-behavior: smooth;
}

.chat-box-header {
  background-color: #124ba2;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.chat-box-message {
  max-width: 70%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  line-height: 1.5;
  position: relative;
  opacity: 0;
  animation: fadeInUp 0.8s ease-in-out forwards;
}

.chat-box-message.user {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  margin-left: 60%;
  max-width: 40%;
}

.chat-box-message.bot {
  align-self: flex-start;
  background-color: #ffffff;
  color: black;
  max-width: 40%;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.chat-box-footer {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.chat-box-input {
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  margin-right: 100px;
}

.chat-box-input:focus {
  outline: none;
  border-color: #124ba2;
  box-shadow: 0 0 10px rgba(18, 75, 162, 0.5);
}

.chat-box-send,
.modal-submit,
.modal-close,
.sign-out-button {
  padding: 15px 25px;
  border: none;
  outline: none;
  color: #fff;
  background: #007bff;
  cursor: pointer;
  z-index: 1;
  border-radius: 10px;
  user-select: none;
  transition: background-color 0.3s ease;
  position: relative;
}

.chat-box-send:hover,
.modal-submit:hover,
.modal-close:hover,
.sign-out-button:hover {
  background-color: #0056b3;
}

.chat-box-send:before,
.modal-submit:before,
.modal-close:before,
.sign-out-button:before {
  content: "";
  background: linear-gradient(45deg, #124ba2, #000000, #ffffff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.chat-box-send:after,
.modal-submit:after,
.modal-close:after,
.sign-out-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.chat-box-send {
  position: fixed;
  right: 15px;
  bottom: 12px;
}

@media (max-width: 768px) {
  .chat-box-send {
    right: 10px;
    bottom: 10px;
  }
}

.sign-out-button {
  background-color: #7b8dbb;
}

.sign-out-button:active {
  background-color: #124ba2;
  transform: scale(0.98);
}

.forgot-pass {
  color: #007bff;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.modal-input:focus {
  outline: none;
  border-color: #007bff;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-submit {
  background-color: #007bff;
}

.modal-close {
  background-color: #ccc;
  color: #ffffff;
}


.ForgotPassTxt {
  color: #cccccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; /* Ensure the parent container has a defined height */
}